WEB_URL=https://watch.portstbd.com
NEXT_PUBLIC_WEB_URL=https://watch.portstbd.com
NEXTAUTH_URL=https://watch.portstbd.com
NEXTAUTH_SECRET=
DATABASE_URL=
DATABASE_ENCRYPTION_KEY=
MEDIA_SERVER_URL=http://portstbd-watch-media-server:3456
MEDIA_SERVER_WEBHOOK_URL=http://portstbd-watch-web:3000
MEDIA_SERVER_WEBHOOK_SECRET=
CAP_AWS_BUCKET=portstbd-watch-production
CAP_AWS_REGION=us-east-1
CAP_AWS_ACCESS_KEY=
CAP_AWS_SECRET_KEY=
S3_PUBLIC_ENDPOINT=https://s3.us-east-1.amazonaws.com
S3_INTERNAL_ENDPOINT=https://s3.us-east-1.amazonaws.com
S3_PATH_STYLE=false
CAP_AWS_BUCKET_URL=https://media.watch.portstbd.com
CAP_CLOUDFRONT_DISTRIBUTION_ID=
CLOUDFRONT_KEYPAIR_ID=
CLOUDFRONT_KEYPAIR_PRIVATE_KEY=
CAP_VIDEOS_DEFAULT_PUBLIC=false
RESEND_API_KEY=
RESEND_FROM_DOMAIN=portstbd.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PORTSTBD_AUTO_JOIN_ORG_ID=
WORKOS_CLIENT_ID=
WORKOS_API_KEY=
DEEPGRAM_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=
POSTHOG_PERSONAL_API_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
SENTRY_DSN=
